server:
  port: 8080

#spring:
#  resources: static-locations: "classpath:/static/"

okta:
  oauth2:
    issuer: https://dev-388275.oktapreview.com/oauth2/default
    clientId: 0oajfcjaxs1OKu2kC0h7
    clientSecret: bd5iKqHzaRc9Fv6lY_XyzEenpD4v9WT2k9XYdtF1
    rolesClaim: groups

spring:
  main:
    allow-bean-definition-overriding: true

